<div class="container" style="margin-top:15%">
    <div class="card text-center">
      <div class="card-header">
        Fernando Murillo
    </div>
    <div class="card-body">
        <%= link_to "Tienda", stores_path , class:"btn btn-danger" %>
        <%= link_to "Categoria", categories_path , class:"btn btn-danger" %>
        <%= link_to "Productos", products_path , class:"btn btn-danger" %>
    </div>
    <div class="card-footer text-muted">
        CRUD RoR
    </div>
    </div>
</div>